:root {


  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #00adb5;
  --color-primary-200: #42b6bd;
  --color-primary-300: #62bfc5;
  --color-primary-400: #7cc9cd;
  --color-primary-500: #93d2d5;
  --color-primary-600: #aadbde;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #12151a;
  --color-surface-200: #282a2f;
  --color-surface-300: #3f4145;
  --color-surface-400: #57595d;
  --color-surface-500: #717276;
  --color-surface-600: #8b8d90;
  /** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #172227;
  --color-surface-mixed-200: #2d373b;
  --color-surface-mixed-300: #434c51;
  --color-surface-mixed-400: #5b6467;
  --color-surface-mixed-500: #757b7f;
  --color-surface-mixed-600: #8f9497;





  /* text */
  --color-text-100: #4b5365;
  --color-text-200: #848b9b;
  --color-text-300: #b6bdc5;


}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-surface-100);
  color: var(--color-text-300);
}

textarea {
  outline: 0px none;
  border: none;
  color: var(--color-text-100);
}

a {
  color: inherit;
  text-decoration: none;
}